.ckeAccordion {
  margin: 15px auto;
}

.ckeAccordion__title {
  text-decoration: none;
  text-align: left;
  position: relative;
  border-radius: 5px;
  background: #ededed;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 15px 15px 55px;
}

@media (min-width: 880px) {

}

.ckeAccordion__title .icon {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 100%;
  border-right: 2px solid rgba(0, 0, 0, 0.2);
}

.ckeAccordion__title .icon svg {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.ckeAccordion__active .ckeAccordion__title .icon svg {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

.ckeAccordion__title:hover {
  background: #E3E3E3;
}

.ckeAccordion__title + .ckeAccordion__title {
  margin-top: 30px;
}

.ckeAccordion__content {
  display: none;
  background: #f6f6f2;
  border-radius: 5px;
  padding: 20px;
}
